@import url('./menu.css');
@import url('./slider-container.css');
@import url('./search-container.css');
@import url('./top-categories.css');
@import url('./container-carrusel.css');
@import url('./cards-container.css');


:root{
    --azul:#2659C3;

}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/fondo.png");
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 841px;
    
}