header{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    height: 85px;
    margin-left: 75px;
    margin-right: 75px;
   
}
header .menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: right;
    justify-content: right;
    
}

header .menu li{
    list-style: none;
}

header .menu li a{
    text-decoration: none;
    color: white;
   
}

header .menu li a:hover{
    border-bottom: 2px solid white;
    animation: .3s;
}


@media only screen and (max-width: 970px) {

    header{
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 10px;
    }

    header .menu{
        display: none;
    }
    header .menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--azul);
        position: absolute;
        padding-top: 50px;
        width: 100%;
        height: 300px;
        transition: .3s ease;
        animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both;
        
    }
    header .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .container-menu-mobile{
        position: absolute;
        margin-left: 10px;
        top: 30px;
    }
  }
